<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata</title>
    <link rel="stylesheet" href="/style/biodata.css">
</head>
<body>
    <div class="parent">
        <div class="banner">
            <div class="desc">
                <div class="user-container">
                    <form action="/biodata/profile" method="get" >
                        <button class="user">
                            <img id="profile" src="<%= info.profile || '/assets/profile/user.png' %>" alt="user">
                            <p>Pemrograman Web B</p>
                        </button>
                    </form>
                    <form action="/logout" method="get">
                        <button type="submit" class="logout">
                            <p>Keluar</p>
                        </button>
                    </form>
                </div>
                <div class="job">
                    <img src="/assets/verified.png" alt="verified">
                    <p><%= info.role %></p>
                </div>
                <h1><%= info.nama %></h1>
                <p><%= info.deskripsi %></p>
            </div>
        </div>
    </div>
    <div class="data-diri">
        <div class="control-center">
            <img src="/assets/play.svg" alt="play">
            <img src="/assets/like.svg" alt="like">
            <div class="npm">
                <p>Welcome</p>
            </div>
            <img src="/assets/more.svg" alt="more">
            
        </div>
        <div class="info">
            <h3>Data Diri</h3>
            <table class="info-items">
                <tr>
                    <td>
                        <div class="items">
                            <p>1.</p>
                            <img src="/assets/name.png" alt="name">
                            <p>Nama</p>
                        </div>
                    </td>
                    <td>
                        <p><%= info.nama %></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="items">
                            <p>2.</p>
                            <img src="/assets/gender.png" alt="name">
                            <p>Jenis Kelamin</p>
                        </div>
                    </td>
                    <td>
                        <p><%= info.jenis_kelamin %></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="items">
                            <p>3.</p>
                            <img src="/assets/date.png" alt="name">
                            <p>Tanggal Lahir</p>
                        </div>
                    </td>
                    <td>
                        <p><%= date %></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="items">
                            <p>4.</p>
                            <img src="/assets/loc.png" alt="name">
                            <p>Tempat Lahir</p>
                        </div>
                    </td>
                    <td>
                        <p><%= info.tempat_lahir %></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>